body
{
    background-color: #171918;
}


iframe
{
    display: block;
    margin: 0 auto;
    padding-bottom: 50px;
}

.banner
{
    text-align: center;
    float: left;
    clear: none;
    padding: 0;
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    background-color: #3F9A95;
}

p
{
    font-family: freight-sans-pro,Lato,Sans-Serif;
    text-align: left;
    text-indent: 4em;
    padding-left: 100px;
    padding-right: 100px;
    color: #fff;
}

.heading
{
    font-family: freight-sans-pro,Lato,Sans-Serif;
    color: #fff;
    padding-top: 150px;
}

.title
{
    font-family: freight-sans-pro, Lato, Sans-Serif;
    color: #fff;
    font-size: 5em;
}

.info
{
    text-align: center;	
    width: 35%;
    height: 5%;
    float: center;
    position: absolute;
    top: 50%;
    left 50%;
}

.navbar 
{
    font-family: freight-sans-pro, Lato, Sans-Serif;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a 
{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.main 
{
    padding: 16px;
    margin-top: 30px;
    height: 1500px; /* Used in this example to enable scrolling */
}

#info
{
    text-align: center;
    font-family: freight-sans-pro, Lato, Sans-Serif;
    color: #fff;
}