body
{
    background-color: #171918;
}

iframe
{
    display: block;
    margin: 0 auto;
    padding-bottom: 50px;
}

.banner
{
    text-align: center;
    float: left;
    clear: none;
    padding: 0;
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    background-color: #3F9A95;
}

p
{
    font-family: freight-sans-pro,Lato,Sans-Serif;
    color: #fff;
}

.heading
{
    font-family: freight-sans-pro,Lato,Sans-Serif;
    color: #fff;
    padding-top: 150px;
}